#integrator {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center;    /* Wyśrodkowanie pionowe */
    height: 100%;           /* Dopasowanie do kontenera rodzica */
    list-style: none;
    gap: 15px;
    width: 40%;
}


.navbar-item {
    margin: 0.4em;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .container {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    #integrator {display: none}

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 125%;
        height: 100%;
    }

    .navbar-item {
        margin: 0 1rem;
    }

    .navbar-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.logo img {
    width: 200px;
    border-radius: 5px;
    align-self: center;
    height: var(--navbar-height);
}

header #integrator {
    float: left;
    margin-left: 0;
}

header #integrator ul li .integ {
    display: none;
    position: absolute;
    clear: both;
    color: #000;
}

header #integrator ul li .integ h2 {
    font-weight: 700;
    font-size: 200%;
}

header #integrator ul li:hover {
    color: black;
    background-color: #fff;
}

    header {display: inline}